## This books takes all the meetings in each session and merges into a single csv file

In [1]:
import pandas as pd

## Reading data in session 1

In [2]:
#read the first session and first meeting
df = pd.read_csv('Session_one/Meeting1.csv')
df.head()

,Id,Session,Meeting,Speaker,Text
0,S1M11,1,1,﻿Chairman,Excellencies. I am pleased to declare the firs...
1,S1M12,1,1,Chile,Before going to the logistics and the backgrou...
2,S1M13,1,1,Russia,"Thank you, Mr. President. I will now ask for t..."
3,S1M14,1,1,Chairman,Thank you for your attention. I thank the repr...
4,S1M15,1,1,Cuba,"Cuba representative, please. Thank you, Presid..."

In [3]:
#read meeting 2 in a data frame 2
df2 = pd.read_csv('Session_one/Meeting2 .csv')
df2.head()

,Id,Session,Meeting,Speaker,Text
0,S1M21,1,2,﻿Chairman,We will continue to do formal procedural work....
1,S1M22,1,2,Secretary,"Thank you, Mr. President. I have a request for..."
2,S1M23,1,2,United States,"President, representatives of all the represen..."
3,S1M24,1,2,Hong,Mr. President and Representative Hong. First o...
4,S1M25,1,2,Chairman,Thank you very much. I thank the representativ...

In [4]:
# Concatenate the two dataframes along the row axis
df_merged = pd.concat([df, df2], ignore_index=True)
#print the head of the merged data frame
df_merged.head()

,Id,Session,Meeting,Speaker,Text
0,S1M11,1,1,﻿Chairman,Excellencies. I am pleased to declare the firs...
1,S1M12,1,1,Chile,Before going to the logistics and the backgrou...
2,S1M13,1,1,Russia,"Thank you, Mr. President. I will now ask for t..."
3,S1M14,1,1,Chairman,Thank you for your attention. I thank the repr...
4,S1M15,1,1,Cuba,"Cuba representative, please. Thank you, Presid..."

In [5]:
#print the tail of the merged data frame
df_merged.tail()

,Id,Session,Meeting,Speaker,Text
55,S1M228,1,2,Sri Lanka,"Thank you, Chairman. Congratulations on being ..."
56,S1M229,1,2,Chairman,I would like to thank the representative of Sr...
57,S1M230,1,2,Cuba,"Thank you, Chairman. I think I want to... I ho..."
58,S1M231,1,2,Russia,"What is... 要求答辩 Thank you. Some speeches, some..."
59,S1M232,1,2,Chairman,"Thank you, Russian Federation representative. ..."

In [6]:
# Read all meetings remaining in session 1 in a loop and merge them to df_merged
for i in range(3, 11):
    try:
        df = pd.read_csv(f'Session_one/Meeting{i}.csv')
        df_merged = pd.concat([df_merged, df], ignore_index=True)
    except FileNotFoundError:
        print(f"File Session_one/Meeting{i}.csv not found.")

File Session_one/Meeting5.csv not found.

In [11]:
df_merged.tail()

,Id,Session,Meeting,Speaker,Text
397,S1M1051,1,10,Chairman,I thank the distinguished representative of Po...
398,S1M1052,1,10,Pakistan,"Thank you very much, Mr. Chapperson. And since..."
399,S1M1053,1,10,Chairman,I thank the distinguished representative of Pa...
400,S1M1054,1,10,Brazil,"Thank you. Thank you very much, Chair. It's a ..."
401,S1M1055,1,10,Chairman,I thank the distinguished representative of Br...

In [8]:
#check if every meeting file was read 
# Print all unique values in the 'meeting' column
print(df_merged['Meeting'].unique())

[ 1  2  3  4  6  7  8  9 10]

In [9]:
#print the number of rows in the df_merged data frame
print(df_merged.shape)

(402, 5)

In [10]:
#check that no data was read twice
# Check for duplicate values in the 'id' column
duplicates = df_merged[df_merged['Id'].duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Id, Session, Meeting, Speaker, Text]
Index: []

In [12]:
#save the new data frame to a csv file
df_merged.to_csv('Session_one/all_meeting_merged.csv', index=False)

In [6]:
df_merged = pd.read_csv('Session_one/all_meeting_merged.csv')
df_merged.head()

,Id,Session,Meeting,Speaker,Text
0,S1M11,1,1,﻿Chairman,Excellencies. I am pleased to declare the firs...
1,S1M12,1,1,Chile,Before going to the logistics and the backgrou...
2,S1M13,1,1,Russia,"Thank you, Mr. President. I will now ask for t..."
3,S1M14,1,1,Chairman,Thank you for your attention. I thank the repr...
4,S1M15,1,1,Cuba,"Cuba representative, please. Thank you, Presid..."

## Read all data in session 2

In [7]:
df_merged.tail()

,Id,Session,Meeting,Speaker,Text
397,S1M1051,1,10,Chairman,I thank the distinguished representative of Po...
398,S1M1052,1,10,Pakistan,"Thank you very much, Mr. Chapperson. And since..."
399,S1M1053,1,10,Chairman,I thank the distinguished representative of Pa...
400,S1M1054,1,10,Brazil,"Thank you. Thank you very much, Chair. It's a ..."
401,S1M1055,1,10,Chairman,I thank the distinguished representative of Br...

In [8]:
# Read all meetings in session 2 in a loop and merge them to df_merged
for i in range(1, 11):
    try:
        df = pd.read_csv(f'session2/Meeting{i}.csv')
        df_merged = pd.concat([df_merged, df], ignore_index=True)
    except FileNotFoundError:
        print(f"File session2/Meeting{i}.csv not found.")

In [9]:
df_merged.tail()

,Id,Session,Meeting,Speaker,Text
839,S2M1050,2,10,Chairman,I thank the distinguished representative of th...
840,S2M1051,2,10,Argentina,Thank you. Since this is the first time my del...
841,S2M1052,2,10,Chairman,I thank the distinguished representative of Ar...
842,S2M1053,2,10,The Australian Center for Space Governance,"Thank you so much, Chair, and I do truly appre..."
843,S2M1054,2,10,Chairman,I thank the representative of the Australian C...

In [10]:
# Get all unique values in the 'Meeting' column where 'Session' is 2
unique_values = df_merged[df_merged['Session'] == 2]['Meeting'].unique()
print(unique_values)

[ 1  2  3  4  5  6  7  8  9 10]

In [11]:
#check that no data was read twice
# Check for duplicate values in the 'id' column
duplicates = df_merged[df_merged['Id'].duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Id, Session, Meeting, Speaker, Text]
Index: []

In [12]:
#print the number of rows in the df_merged data frame
print(df_merged.shape)

(844, 5)

## Reading all Session 4 files

In [13]:
df_merged.tail()

,Id,Session,Meeting,Speaker,Text
839,S2M1050,2,10,Chairman,I thank the distinguished representative of th...
840,S2M1051,2,10,Argentina,Thank you. Since this is the first time my del...
841,S2M1052,2,10,Chairman,I thank the distinguished representative of Ar...
842,S2M1053,2,10,The Australian Center for Space Governance,"Thank you so much, Chair, and I do truly appre..."
843,S2M1054,2,10,Chairman,I thank the representative of the Australian C...

In [14]:
# Read all meetings in session 4 in a loop and merge them to df_merged
for i in range(1, 11):
    try:
        df = pd.read_csv(f'session4/Meeting_{i}.csv')
        df_merged = pd.concat([df_merged, df], ignore_index=True)
    except FileNotFoundError:
        print(f"File session4/Meeting_{i}.csv not found.")

File session4/Meeting_3.csv not found.
File session4/Meeting_4.csv not found.
File session4/Meeting_5.csv not found.
File session4/Meeting_6.csv not found.
File session4/Meeting_7.csv not found.
File session4/Meeting_8.csv not found.

In [15]:
df_merged.tail()

,Id,Session,Meeting,Speaker,Text
1044,S4M154,4,10,Chairman,I thank the distinguished representative of th...
1045,S4M155,4,10,USA,"Mr. Chairman, on behalf of the United States, ..."
1046,S4M156,4,10,Chairman,We will now unfortunately have to continue wit...
1047,S4M157,4,10,Singapore,"Thank you, Chair, and thankfully I do speak in..."
1048,S4M158,4,10,Chairman,Okay. I thank the distinguished representative...

In [16]:
# Get all unique values in the 'Meeting' column where 'Session' is 4
unique_values = df_merged[df_merged['Session'] == 4]['Meeting'].unique()
print(unique_values)

[ 1  2  9 10]

## Reading Session 3

In [17]:
# Read all meetings in session 4 in a loop and merge them to df_merged
for i in range(5, 8):
    try:
        df = pd.read_csv(f'csv/Meeting_{i}.csv')
        df_merged = pd.concat([df_merged, df], ignore_index=True)
    except FileNotFoundError:
        print(f"File csv/Meeting_{i}.csv not found.")

In [18]:
df_merged.tail()

,Id,Session,Meeting,Speaker,Text
1264,S3M774,3,7,Chairman,I thank the distinguished representative of th...
1265,S3M775,3,7,Russia,"Thank you very much, Chair. At the outset, Ple..."
1266,S3M776,3,7,Chairman,I thank the distinguished representative of th...
1267,S3M777,3,7,France,"Mercy, Mr. President. Thank you, Chair. I'd li..."
1268,S3M778,3,7,Chairman,I think the distinguished representative of Fr...

In [19]:
# Get all unique values in the 'Meeting' column where 'Session' is 4
unique_values = df_merged[df_merged['Session'] == 3]['Meeting'].unique()
print(unique_values)

[5 6 7]

In [20]:
#print the number of rows in the df_merged data frame
print(df_merged.shape)

(1269, 5)

In [21]:
#save the final data frame to a csv file
df_merged.to_csv('Session_one/all_meeting_merged.csv', index=False)